
    <div class="certificate-container">
        <h1>CERTIFICADO DE CONCLUSÃO</h1>
        <p>Este certificado foi concedido a {{first_name}} {{last_name}}</p>
        <p>por concluir o curso {{course}}</p>
        <p>Data: {{date}}</p>
    </div>
